body {
    background-color: #282c36;
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    color: #ffffff;
    font-size: 20px;
    margin: auto;
    overflow-y: scroll;
}

a:link {
    color: #aee6fe;
}

a:visited {
    color: #aee6fe;
}

html {
    scroll-behavior: smooth;
}

sidebar {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.side-btn {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}

.ascii-art {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   white-space: pre; 
   display: block;
   width: fit-content;
   font-size: 1vw;
}